@text-color: #333;

#main {
  padding: 20px 50px 50px 270px;

  table {
    margin-bottom: 0;
    table-layout: fixed;
  }

  th {
    &[data-field="id"] {
      width: 70px;
    }

    &.control-cell {
      font-style: italic;
      font-weight: normal;
      width: 70px;
    }

    .filterable:after {
      content: "\e003";
      position: relative;
      display: inline-block;
      font-family: 'Glyphicons Halflings';
      font-style: normal;
      font-weight: 400;
      font-size: 0.5em;
      vertical-align: top;
      margin-left: 3px;
      -webkit-font-smoothing: antialiased;
    }

    .sortable:before {
      position: relative;
      display: inline-block;
      font-family: 'Glyphicons Halflings';
      font-style: normal;
      font-weight: 400;
      font-size: 1em;
      vertical-align: bottom;
      margin-right: 3px;
      -webkit-font-smoothing: antialiased;
    }
    .sort-asc:before {
      content: "\e155";
      color: @text-color;
    }
    .sort-desc:before {
      content: "\e156";
      color: @text-color;
    }
  }

  td {
    line-height: 2.2em;

    &.control-cell {
      text-align: center;
    }
  }

  .panel-footer {
    text-align: center;
  }

  .panel-heading {
    position: relative;
  }

  .add-new-item-btn {
    width: 200px;
  }

  option.placeholder {
    color: #aaa;
  }

  .entity-filter {
    position: absolute;
    top: 30%;
    right: 14px;

    button {
      position: absolute;
      top: 1px;
      right: 0;
      z-index: 100;
      border: none;
      background: none;
      outline: none;
    }
  }

  .filterable-mark {
    font-size: 0.5em;
    vertical-align: top;
    margin-left: 3px;
  }

  .editable:hover {
    cursor: pointer;
  }

  .Select-control {
    font-size: 12px;
    height: 30px;

    .Select-value {
      line-height: 30px;
    }

    .Select-input {
      height: 30px;

      & > input {
        padding: 8px 0 8px;
      }
    }
  }

}